<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="table-responsive">
					<table class="table user-list">
						<thead>
							<tr>
								<th class="text-center"><span>CampSite</span></th>
								<th class="text-center"><span>Location</span></th>
								<th class="text-center"><span>Available places</span></th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let p of listCampSites">
								<td class="text-center">
									<img src="https://picsum.photos/1000/1000" alt="">
									<a class="user-link">{{p.name}}</a>

								</td>
								<td class="text-center">
									{{p.location}}
								</td>
								<td class="text-center">
									<span class="label label-default">{{p.nbrPlace}}</span>
								</td>

								<td class="text-center" style="width: 20%;">
									<a (click)="detail(p.id_campSite)" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a data-bs-target="#staticBackdrop" data-bs-toggle="modal" (click)="update(p.id_campSite)"
										class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a (click)="delete(p)" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>

								</td>
							</tr>
						</tbody>				
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary" (click)="adding()">Add a new campsite</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="staticBackdropLabel">Update Campsite</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form #f="ngForm" >
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-map-marker"></i> </span>
						</div>
						<input name="campsite.name" class="form-control" placeholder="Name" type="text" name="name"
							[(ngModel)]="campsite.name" #name="ngModel" required>

					</div>
					<div class="alert alert-danger" *ngIf="name.invalid && name.touched">
						<div *ngIf="name.errors?.['required']">name is required!</div>
					</div>
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-crosshairs"></i> </span>
						</div>
						<input name="campsite.location" class="form-control" placeholder="Location" type="text"
							name="location" [(ngModel)]="campsite.location" #location="ngModel" required>
					</div>
					<div class="alert alert-danger" *ngIf="location.invalid && location.touched">
						<div *ngIf="location.errors?.['required']">location is required!</div>
					</div>

					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-users"></i> </span>
						</div>
						<input class="form-control" placeholder="Number of free places" type="number"
							name="campsite.nbrPlace" name="nbrPlace" [(ngModel)]="campsite.nbrPlace" #nbrPlace="ngModel"
							required min="0">
					</div>
					<div class="alert alert-danger" *ngIf="nbrPlace.invalid && nbrPlace.touched">
						<div *ngIf="nbrPlace.errors?.['required']">nbrPlace is required!</div>
						<div *ngIf="nbrPlace.errors?.['min']">nbrPlace must be positive!</div>
					</div>


					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-file-image"></i> </span>
						</div>
						<input class="form-control" type="file" id="formFile" accept=".jpg,.jpeg,.png"
							name="campsite.image" name="image" [(ngModel)]="campsite.image" #image="ngModel">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-warning btn-block" (click)="updating(campsite)">
							Update Camping Site
						</button>
						<button type="button" class="btn btn-light  btn-block" data-bs-dismiss="modal"
							aria-label="Close">Cancel</button>
					</div>


				</form>
			</div>
		</div>
	</div>
</div>